<!-- <router-outlet></router-outlet> -->
<div class="min-h-screen	">
  <div class="main-grid ">
    <div class="bg-main ">
      <div class="flex pt-4 px-8 justify-content-between header-content">
        <p class="text-5xl mb-0">Weather APP</p>
        <div class="flex align-items-center header-content-paragraph">
          <p class="mb-0 mr-2 text-2xl">El tiempo en...</p>
        <input [(ngModel)]="inputValue" (keyup.enter)="onEnterKeyPress()" class=" border-round-lg p-1 px-3 text-lg" type="text">
        </div>
      </div>
      <div class="flex actual-weather mx-5 gap-7 justify-content-center my-5">
      <div class=" flex align-items-center	main-img-order">
        <img  [src]="tiempoActual ? '../assets/imagenes/iconsV2/' + getActaulWeatherImage(tiempoActual.weather) : '../assets/imagenes/icons//cloudy.png'" width="200px" alt="">
      </div>
      <div class="flex upper-main-text">
        <div class="">
          <p class="main-text">{{tiempoActual?.main?.temp | round}}°</p>
        </div>
        <div class="main-div-right">
          <p class="flex align-items-center gap-3	text-lg"><img src="../assets/imagenes/icons/wind2.png" width="30px" alt="">
            {{ tiempoActual ? (tiempoActual.wind.speed * 2.43).toFixed(2) + ' mph' : 'N/A' }}
          </p>
          <p class="flex align-items-center gap-3	text-lg "><img src="../assets/imagenes/icons/water-drop.png" alt="" width="30px"> {{tiempoActual?.main?.humidity}}% </p>
        </div>
      </div>
      <p class="main-subtext">{{tiempoActual ? getActualWeatherName(tiempoActual.weather) : ''}}</p>
    </div>
      <div 	 class="flex justify-content-between daily-info px-8 pb-5 ">
        <ng-container *ngFor="let diario of tiempoDiario; let i = index">
        <div class="flex flex-column align-items-center daily-info-content text-center">
          <p class="mb-0 text-lg">{{proximosDias[i]}}</p>
          <img class="my-2" [src]="'../assets/imagenes/icons/' + getWeatherImage([diario.weather])" width="30px" alt="">
          <p class="text-2xl">{{i === 0 ? (tiempoActual?.main?.temp |round) : diario.temp.eve | round}}°</p>
          <p class="mb-0 text-lg">{{getWeatherName([diario.weather])}} </p>
        </div>
      </ng-container>
      </div>
    </div>
    <div class=" shadow-main-div">
      <div class="shadow-main-div-top">
      <div class="flex align-items-center gap-3">
      <p class="pt-4 text-2xl text-center shadow-main-div-top-first-paragraph">Buenos días {{cityName}}</p>
      <p class="my-5 text-2xl text-center	">{{ horaActual$ | async }}</p>
    </div>
      <div class="my-chart-style-container">
        <canvas id="myChart" class="my-chart-style"></canvas>
      </div>
    </div>
      <div>
        <p class="text-center text-lg">Hourly Forcast</p>
        <div class="flex flex-wrap gap-4 pb-5	justify-content-center">
          <ng-container *ngFor="let hora of tiempoHoras.slice(0, 7); let i = index;">
            <div *ngIf="i !== 0" class="text-center hourly-info-content border-1	border-round-md	pt-2">
            <p>{{hora.dt_txt.split(" ")[1].substring(0, 5)}}</p>
            <p class="text-2xl">{{hora.main.temp | round}}°</p>
            <p>{{hora.weather[0].main}}</p>
          </div>
        </ng-container>
        </div>
      </div>
    </div>
  </div>
  </div>
